In [1]:
sc

In [2]:
# provide spark the link to the webshop history (datalake)
df = spark.read.csv("gs://pk-gcs/webshop_datalake/*.csv", inferSchema=True, header=True)

In [9]:
# create a temporary view on the data that we can simply query by SQL
df.createOrReplaceTempView("sales")

# this is our batch processing - calculate the mean sales_value per product_name
df_batch_result = spark.sql("SELECT product_name, mean(sales_value) FROM sales GROUP BY product_name")

# show results (interactive mode)
df_batch_result.toPandas()

  product_name  avg(sales_value)
0   white wine         15.901649
1      whiskey         34.161184
2        vodka         23.786134
3         pils         20.046755
4    rosé wine         11.638741
5       grappa         21.236161
6        lager         28.471012
7      altbier         10.129283
8     red wine         28.091871

In [8]:
# write results back to cloud GCS
df_batch_result.write.csv("gs://pk-gcs/webshop_batch_results/average_sales_per_product.csv")