In [ ]:
!pip install pandas==0.24.2
!pip install gcsfs

In [5]:
import pandas as pd
df = pd.read_csv("gs://pk-gcs/webshop_datalake/webshop_history.csv")
df.head()

,date,weekday,region,state,age,age_group,basket_id,product,product_name,product_group,sales_value
0,2020-01-01,Wednesday,North,de-sh,23,18-29,90c596d8-d47b-425a-b64e-7ccc3954ac6a,1,red wine,1,4.3
1,2020-01-01,Wednesday,North,de-sh,23,18-29,90c596d8-d47b-425a-b64e-7ccc3954ac6a,2,white wine,1,3.8
2,2020-01-01,Wednesday,North,de-sh,23,18-29,90c596d8-d47b-425a-b64e-7ccc3954ac6a,4,pils,2,53.8
3,2020-01-01,Wednesday,North,de-sh,23,18-29,90c596d8-d47b-425a-b64e-7ccc3954ac6a,5,altbier,2,7.9
4,2020-01-01,Wednesday,North,de-sh,23,18-29,90c596d8-d47b-425a-b64e-7ccc3954ac6a,6,lager,2,31.2

In [7]:
df.groupby("product_name").sales_value.mean()

product_name
altbier       10.129283
grappa        21.236161
lager         28.471012
pils          20.046755
red wine      28.091871
rosé wine     11.638741
vodka         23.786134
whiskey       34.161184
white wine    15.901649
Name: sales_value, dtype: float64